

 .cn{
     background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
   
}
.title{
    box-shadow: 10px 5px 5px red;

}
.card{
    background:rgb(255, 124, 124);
    width:370px;
    height: 360px;
    margin: 15px;
    padding: 3px;
    border-radius:  15px 15px 0 0;
    box-shadow: rgb(13, 11, 11) 0px 20px 30px -10px;

  
}
img{
 
    border-radius: 50%;
    display:block;
    margin-right: auto;
    margin-left: auto; 
}

 .hc{
    box-shadow: 10px 5px 5px red;
}
.p_about{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

/* .container-fluid .card_container{
 background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
} */

.card-2{
    background:rgb(255, 255, 255);
    width:30%;
    height: 280px;
    margin: 15px;
    padding: 3px;
    border-radius:  15px 15px 0 0;
    box-shadow: rgb(13, 11, 11) 0px 20px 30px -10px;

  
}