body{
    background: rgb(255, 255, 255);
}

.h2_info{
    color: rgb(233, 82, 82);
    text-align: start;
    font-weight: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.h3_info{
    color: rgb(253, 96, 96);
    background: #6e6e6e;
    font-size: 25px;
text-align: center;
}

.h2_text_info {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}